.cart{
    background-color: rgba(12, 2, 2, 0.616);
    /* padding: 10px 15px; */
    display: flex;
    align-items: center;
    height: 40px;
    padding: 20px 30px;
    gap: 10px  ;
    border-radius: 20px;  
    transition: 0.2s ease;
    cursor: pointer;
}
.cart:hover{
    background-color: rgba(124, 21, 21, 0.911);
}
.logo{
    color: #fff;
}
.content{
    color: #fff;
    font-weight: bold;
}
.item{
    background-color: brown;
    color: #fff;
    padding: 3px 10px;
    border-radius: 10px;
}